<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            background-color: #ffffff;
            font-size: 18px;
            font-family: "Noto Sans CJK SC Regular";
            overflow: hidden;
            padding-bottom: 20px;
            padding-top: 25px;
        }
        .father{
            width: 100vw;
        }
        .son{
            width: 90vw;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="father">
    <div class="son">
    "{0}"
    </div>
</div>
</body>

</html>