[Desktop Entry]
Categories=Dictionary;Application;Utility;
Comment=CuteTranslation,dict,cute,trans
Encoding=UTF-8
Exec=/opt/apps/com.github.cute-translation/files/CuteTranslation
Icon=/opt/apps/com.github.cute-translation/files/CuteTranslation.svg
Name=CuteTranslation
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Deepin-AppID=com.github.cute-translation
X-Deepin-CreatedBy=com.deepin.dde.daemon.Launcher
X-Deepin-Vendor=user-custom
