#!/usr/bin/make -f
#防止系统存在多个QT版本请看下引用qt编译环境错误，定义使用的QT版本
export QT_SELECT := qt5
#export DH_VERBOSE = 1
TARGET_CPU = $(shell uname -m)

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@
#dh_auto_configure是自动执行autogen的脚本，qt使用qmake，需要覆盖并重写
override_dh_auto_configure:
	mkdir -p build
	qmake $(CURDIR)/CuteTranslation.pro -spec linux-g++   -o build/
#dh_auto_build默认使用make -j$(JOBS)，本例因为makefile目录不在源码根目录，因此覆盖并重写
override_dh_auto_build:
	make -C $(CURDIR)/build -j$(JOBS)

override_dh_auto_test:

override_dh_auto_install:
# UOS Package
	mkdir -p $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/entries/applications/
	mkdir -p $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/files/
	cp $(CURDIR)/debian/cute-translation.info $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/info

	cp $(CURDIR)/build/CuteTranslation $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/files/
	cp $(CURDIR)/template/* $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/files/

	# nodejs
ifeq ($(TARGET_CPU),x86_64)
	cp $(CURDIR)/nodejs_binary/node_amd64 $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/files/node
else ifeq ($(TARGET_CPU),mips64)
	cp $(CURDIR)/nodejs_binary/node_mips64 $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/files/node
else ifeq ($(TARGET_CPU),aarch64)
	cp $(CURDIR)/nodejs_binary/node_arm64 $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/files/node
endif

	cp $(CURDIR)/debian/CuteTranslation.desktop $(CURDIR)/debian/cute-translation/opt/apps/cute-translation/entries/applications/

# Debian Package
	mkdir -p $(CURDIR)/debian/cute-translation/usr/share/applications/
	cp $(CURDIR)/debian/CuteTranslation.desktop  $(CURDIR)/debian/cute-translation/usr/share/applications/

override_dh_clean:
	dh_clean
	rm -f $(CURDIR)/build/*


override_dh_installdocs:

override_dh_installchangelogs:

override_dh_makeshlibs:

override_dh_installinfo:

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)
#
